<a href="https://colab.research.google.com/github/rajat9070/DataScience_ML/blob/main/DecisionTreeAlgo_titanic_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis ='columns',inplace=True)

In [4]:
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [15]:
inputs= df.drop('Survived',axis='columns')

In [16]:
target = df.Survived

In [17]:
inputs.Sex = inputs.Sex.map({'male':1,'female':2})

In [18]:
inputs.head()

   Pclass  Sex   Age     Fare
0       3    1  22.0   7.2500
1       1    2  38.0  71.2833
2       3    2  26.0   7.9250
3       1    2  35.0  53.1000
4       3    1  35.0   8.0500

In [19]:
inputs.Age.isna().sum()

177

In [20]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())

In [21]:
inputs.Age.isna().sum()

0

In [22]:
df2 = inputs

In [23]:
df2.head()

   Pclass  Sex   Age     Fare
0       3    1  22.0   7.2500
1       1    2  38.0  71.2833
2       3    2  26.0   7.9250
3       1    2  35.0  53.1000
4       3    1  35.0   8.0500

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
x_train,x_test,y_train,y_test =train_test_split(inputs,target,test_size =0.2)

In [26]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [27]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [28]:
model.score(x_test,y_test)

0.7318435754189944

In [38]:
importances = model.feature_importances_

In [39]:
feature_importances_df = pd.DataFrame({'Feature': inputs.columns, 'Importance': importances})

In [41]:
feature_importances_df = feature_importances_df.sort_values('Importance', ascending=False)

In [42]:
feature_importances_df

  Feature  Importance
3    Fare    0.348760
1     Sex    0.324191
2     Age    0.257714
0  Pclass    0.069335

In [46]:
root_feature = feature_importances_df.loc[3,'Feature']
root_feature

'Fare'